body{
    background-color: rgb(224, 218, 218);
}

header h1{
    text-align: center;
    color: red;
    margin-top: 0px;
    margin-bottom: 5px;
}
header p{
    text-decoration: underline;
    text-align: center;
    font-size: 1.1em;
    margin-top: 0px;
}

.board{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: stretch;
    max-width: 800px;
    margin: auto;
}
.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
img{
    height: 150px;
    width: 300px;
}
